.home-page {
    background-image: url("Background.jpg");
    margin: 0;
    padding: 100px;
    color: white;
    font-family: Monospace;
}

.home-page h1 {
    font-size: 60px;
    font-weight: 900;
}