nav {
    background-color: #c8d6ca;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #1a2d37;
    text-decoration: none;
    padding: 30px;
}

.main-name {
    font-size: larger;
    font-weight: 800;
}

nav a:hover {
    color: black;
    font-weight: 900;

}

.bar-icon {
    height: 30px;
    width: 30px;
    background-color: #c8d6ca;
}



@media screen and (max-width: 767px) {
    .nav-links {
        display: grid;
        grid-template-columns: 1fr;
    }

    .position1 {
        position: absolute;
        top: 60px;
        background-color: #c8d6ca;

    }

    .position2 {
        position: absolute;
        top: -300px;
    }

}

@media screen and (min-width: 767px) {
    .bar-icon {
        display: none;
    }
}